// Fonts
$font-pf-bague-sans-pro: "PF Bague Sans Pro", sans-serif;
// Fonts end

// Colors
$color-accent: #EFA118;
$color-light: #FFFFFF;
$color-optional-1: #F2F2F2;
$color-optional-2: #323334;
$color-primary: #535353;
$color-light-25: rgba(255, 255, 255, 25%);
$color-dark-5: rgba(109, 110, 113, 5%);
$color-dark-25: rgba(109, 110, 113, 25%);
$color-Components: #83444D;
$color-test: #C4C4C4;
$color-accent-2: #E30613;
$color-black: #000000;
$color-accent-3: #A3C800;
$color-gradient-grey-1: linar-gradient(to right, #FFFFFF, #F2F2F2);
$color-gradient-dark-1: linea-gradient(to right, #535353, #1D1D1B);
// Colors end

@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}