* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
  font-weight: 400;
}

button, select {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
  font-weight: 400;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100svh;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

body {
  background: white;
  color: black;
  font-weight: 400;
  font-family: "PF Bague Sans Pro", sans-serif;
  line-height: 150%;
}

button, input, textarea, li, div {
  font-family: "PF Bague Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 150%;
}

.container {
  max-width: 1500px;
  width: calc(100% - 48px);
  margin: 0 auto;
}

.btn-red {
  padding: 8px 16px;
  background: #E30613;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-light);
  transition: 0.2s ease-in-out all;
}
@media screen and (max-width: 1150px) {
  .btn-red {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 16px;
  }
}
.btn-red:hover {
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.btn-white-outline {
  border: 1px solid #FFFFFF;
  padding: 7px 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  transition: 0.2s ease-in-out all;
}
@media screen and (max-width: 1150px) {
  .btn-white-outline {
    font-size: 16px;
  }
}
.btn-white-outline:hover {
  background: #FFFFFF;
  color: #535353;
}

.swp-pagination {
  display: flex;
  align-items: center;
  gap: 18px;
}
@media screen and (max-width: 1500px) {
  .swp-pagination {
    gap: 16px;
  }
}
.swp-pagination span {
  margin: 0 !important;
  padding: 0 !important;
  width: 12px;
  height: 12px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.25);
  transition: 0.2s ease-in-out all;
}
.swp-pagination span:hover {
  background: #FFFFFF;
}
.swp-pagination span.swiper-pagination-bullet-active {
  background: #E30613;
}

.top_link {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  background: #E30613;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.menu {
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 24px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  transition: 0.2s ease;
}
.menu::-webkit-scrollbar {
  display: none;
}
.menu.active {
  left: 0;
}
.menu_head {
  border-bottom: 1px solid #F2F2F2;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 32px;
  height: 50px;
}
.menu_navs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu_navs a {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #535353;
}
.menu_bottom {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu_bottom .phone_link {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #535353;
  display: block;
}
.menu_bottom a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #535353;
}
.menu_social {
  display: flex;
  align-items: center;
  gap: 16px;
}
.menu_social a {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_social span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #535353;
}

.feedback_bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.feedback_bg .feedback {
  width: 640px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 24px;
  background: #FFFFFF;
  position: relative;
  transform: translateY(100px);
  transition: transform 0.3s ease;
}
@media screen and (max-width: 850px) {
  .feedback_bg .feedback {
    width: 100%;
    height: 100%;
  }
}
.feedback_bg .feedback_close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.feedback_bg .feedback h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #535353;
  margin-bottom: 16px;
}
.feedback_bg .form_btn {
  position: absolute;
  bottom: 24px;
  left: 24px;
}
.feedback_bg .tab-buttons {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.feedback_bg .tab-buttons .tab-btn {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #535353;
}
@media screen and (max-width: 993px) {
  .feedback_bg .tab-buttons .tab-btn {
    font-size: 20px;
  }
}
.feedback_bg .tab-buttons .tab-btn.active {
  color: #E30613;
}
.feedback_bg .form_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #535353;
  display: block;
  margin-top: 8px;
}
.feedback_bg .form_text p {
  display: inline;
  color: #E30613;
}
.feedback_bg .input_block {
  display: flex;
  width: 100%;
  border: 1px solid #535353;
  height: 46px;
}
.feedback_bg .input_block span {
  color: #E30613;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  padding: 10px 16px 10px 10px;
}
.feedback_bg .textare_text {
  height: 92px;
}
.feedback_bg form .input_group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}
.feedback_bg form input {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #CACACA;
}
@media screen and (max-width: 1200px) {
  .feedback_bg form input {
    width: 100%;
  }
}
.feedback_bg form input::-moz-placeholder {
  color: #CACACA;
}
.feedback_bg form input::placeholder {
  color: #CACACA;
}
.feedback_bg form textarea {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #CACACA;
}
@media screen and (max-width: 1200px) {
  .feedback_bg form textarea {
    width: 100%;
  }
}
.feedback_bg form textarea::-moz-placeholder {
  color: #CACACA;
}
.feedback_bg form textarea::placeholder {
  color: #CACACA;
}
.feedback_bg form .toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
.feedback_bg form .toggle-wrapper span {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #535353;
}
.feedback_bg form .toggle-wrapper .toggle {
  position: relative;
  width: 40px;
  height: 20px;
  display: flex;
  flex-shrink: 0;
}
.feedback_bg form .toggle-wrapper .toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.feedback_bg form .toggle-wrapper .toggle .slider {
  position: absolute;
  cursor: pointer;
  background-color: #E30613;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}
.feedback_bg form .toggle-wrapper .toggle .slider::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2509803922);
  transition: 0.4s;
  border-radius: 50%;
}
.feedback_bg form .toggle-wrapper .toggle input:checked + .slider {
  background-color: #4CAF50;
}
.feedback_bg form .toggle-wrapper .toggle input:checked + .slider::before {
  transform: translateX(20px);
}
.feedback_bg form button {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  width: 110px;
  height: 40px;
  padding: 8px 16px;
  background: #CACACA;
  margin-top: 24px;
}
.feedback_bg .tab-content {
  display: none;
}
.feedback_bg .tab-content.active {
  display: block;
}
.feedback_bg.modal-open {
  visibility: visible;
  opacity: 1;
}
.feedback_bg.modal-open .feedback {
  transform: translateY(0);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: rgba(83, 83, 83, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.header-container {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1150px) {
  .header-container {
    padding: 16px 0 20px;
  }
}
.header-logo {
  width: 69px;
  height: 30px;
  position: relative;
}
@media screen and (max-width: 1500px) {
  .header-logo {
    width: 52px;
    height: 24px;
  }
}
@media screen and (max-width: 1150px) {
  .header-logo {
    width: 69px;
  }
}
.header-logo img {
  position: absolute;
  width: 100%;
  left: 0;
  top: -6px;
}
@media screen and (max-width: 1500px) {
  .header-logo img {
    top: 0;
  }
}
@media screen and (max-width: 1150px) {
  .header-logo img {
    top: -6px;
  }
}
.header-navs {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 1500px) {
  .header-navs {
    gap: 12px;
  }
}
@media screen and (max-width: 1150px) {
  .header-navs {
    display: none;
  }
}
.header-navs__link {
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  transition: 0.2s ease-in-out all;
}
@media screen and (max-width: 1500px) {
  .header-navs__link {
    font-size: 16px;
  }
}
.header-navs__link:hover {
  color: #E30613;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-right .line {
  width: 1px;
  height: 16px;
  background: #FFFFFF;
}
@media screen and (max-width: 1150px) {
  .header-right .line {
    display: none;
  }
}
.header-right a {
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  transition: 0.2s ease-in-out all;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1500px) {
  .header-right a {
    font-size: 16px;
  }
}
@media screen and (max-width: 1150px) {
  .header-right a {
    display: none;
  }
  .header-right a.watsap-link, .header-right a.telegram-link {
    display: flex;
  }
}
.header-right a svg path,
.header-right a svg rect {
  transition: 0.2s ease-in-out all;
}
.header-right a:hover {
  color: #E30613;
}
.header-right a:first-child:hover svg path,
.header-right a:first-child:hover svg rect {
  stroke: #E30613;
}
.header-right a.telegram-link:hover svg path {
  fill: #E30613;
}
.header-right a.watsap-link:hover svg path {
  fill: #E30613;
}
.header-right .bars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
@media screen and (min-width: 1150px) {
  .header-right .bars {
    display: none;
  }
}

.header_two {
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  background: #FFFFFF;
  z-index: 2;
}
.header_two .header-navs a {
  color: #535353;
}
.header_two .header-navs a:hover {
  color: #E30613;
}
.header_two .header-right a {
  color: #535353;
}
.header_two .header-right a:hover {
  color: #E30613;
}
.header_two .header-right .line {
  background: #535353;
}

.page_links {
  padding: 16px 0;
  background: #F2F2F2;
}
@media screen and (max-width: 1200px) {
  .page_links {
    padding: 12px 0;
  }
}
.page_links .container {
  display: flex;
  align-items: center;
  gap: 16px;
}
.page_links a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #535353;
}
.page_links a.active {
  color: #E30613;
}
.page_links a:hover {
  color: #E30613;
}

.home {
  background: #535353;
  position: relative;
  z-index: 1;
}
.home-swp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.home-swp .swiper {
  height: 100%;
}
.home-swp .swiper-slide {
  height: 100%;
}
.home-swp .swiper-slide:not(.swiper-slide-active) {
  height: 0;
  overflow: hidden;
}
.home-swp .swiper-slide img {
  opacity: 0.25;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-container {
  min-height: 720px;
  padding-top: 148px;
  color: #FFFFFF;
  position: relative;
}
@media screen and (max-width: 1500px) {
  .home-container {
    min-height: 560px;
    padding-top: 74px;
  }
}
@media screen and (max-width: 1150px) {
  .home-container {
    padding: 88px 0 24px;
    min-height: 696px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (max-width: 993px) {
  .home-container {
    min-height: 600px;
  }
}
.home h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 24px;
  max-width: 1246px;
}
@media screen and (max-width: 1500px) {
  .home h1 {
    font-size: 44px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 1150px) {
  .home h1 {
    font-size: 36px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 700px) {
  .home h1 {
    font-size: 24px;
  }
}
.home p {
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  margin-bottom: 48px;
  max-width: 992px;
}
@media screen and (max-width: 1500px) {
  .home p {
    font-size: 24px;
  }
}
@media screen and (max-width: 1150px) {
  .home p {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 700px) {
  .home p {
    font-size: 20px;
  }
}
.home-btn {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 1150px) {
  .home-btn {
    gap: 16px;
  }
}
@media screen and (max-width: 700px) {
  .home-btn {
    flex-direction: column;
    align-items: flex-start;
  }
}
.home .swp-pagination {
  position: absolute;
  top: auto;
  bottom: 48px;
  left: 0;
}
@media screen and (max-width: 1500px) {
  .home .swp-pagination {
    bottom: 24px;
  }
}
@media screen and (max-width: 1150px) {
  .home .swp-pagination {
    display: none;
  }
}

.products {
  margin: 24px 0;
}
.products h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #535353;
  margin-bottom: 24px;
}
@media screen and (max-width: 1200px) {
  .products h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 993px) {
  .products h3 {
    font-size: 32px;
  }
}
@media screen and (max-width: 576px) {
  .products h3 {
    margin-bottom: 0;
  }
}
.products_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
@media screen and (max-width: 1150px) {
  .products_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .products_cards {
    display: none;
  }
}
.products_card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border: 1px solid #F2F2F2;
  background: #FFFFFF;
  transition: 0.2s ease;
}
@media screen and (max-width: 1150px) {
  .products_card {
    gap: 0;
  }
}
.products_card span {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #535353;
  transition: 0.2s ease;
}
@media screen and (max-width: 993px) {
  .products_card span {
    font-size: 16px;
  }
}
.products_card:hover {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.products_card:hover span {
  color: #E30613;
}
.products .swiperProducts {
  overflow: visible;
  display: none;
}
@media screen and (max-width: 576px) {
  .products .swiperProducts {
    display: block;
  }
}
.products .swiperProducts .swiper-wrapper {
  padding: 24px 0;
}
.products .products-pagination {
  position: static;
  display: flex;
  align-items: center;
  gap: 12px;
}
.products .products-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(109, 110, 113, 0.25);
  opacity: 1;
  margin: 0;
}
.products .products-pagination .swiper-pagination-bullet-active {
  background: #E30613;
}

.about {
  border-bottom: 1px solid #F2F2F2;
}
.about_in {
  max-width: 1920px;
  margin: auto;
  position: relative;
}
.about h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #535353;
  margin-bottom: 24px;
}
@media screen and (max-width: 1200px) {
  .about h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 993px) {
  .about h3 {
    font-size: 32px;
  }
}
.about p, .about li {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #535353;
}
@media screen and (max-width: 993px) {
  .about p, .about li {
    font-size: 20px;
  }
}
.about ul {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about li {
  display: flex;
  align-items: center;
  gap: 16px;
}
.about .container {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 1170px) {
  .about .container {
    flex-direction: column;
    gap: 0;
  }
}
.about_text {
  padding: 48px 0;
  margin-right: 584px;
  max-width: 992px;
}
@media screen and (max-width: 1750px) {
  .about_text {
    margin-right: 700px;
  }
}
@media screen and (max-width: 1430px) {
  .about_text {
    margin-right: 450px;
  }
}
@media screen and (max-width: 1200px) {
  .about_text {
    padding: 24px;
  }
}
@media screen and (max-width: 1170px) {
  .about_text {
    width: 100%;
    padding: 24px 0;
  }
}
.about_document {
  position: absolute;
  right: 0;
  top: 0;
  width: 694px;
  height: 100%;
  flex-shrink: 0;
  padding: 48px 24px;
  background-image: url("../images/about_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1430px) {
  .about_document {
    width: 424px;
  }
}
@media screen and (max-width: 1200px) {
  .about_document {
    padding: 24px;
  }
}
@media screen and (max-width: 1170px) {
  .about_document {
    position: static;
    height: 394px;
    width: 100%;
  }
}
.about_document h3 {
  color: #FFFFFF;
  margin-bottom: 24px;
}
.about_document ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about_document ul a {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  transition: 0.2s ease;
}
.about_document ul a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 993px) {
  .about_document ul a {
    font-size: 20px;
  }
}
@media screen and (max-width: 993px) {
  .about_document ul a img {
    width: 24px;
    height: 30px;
    display: flex;
    flex-shrink: 0;
  }
}
.about_document .logo {
  position: absolute;
  bottom: 0;
  right: 24px;
  width: 208px;
  height: 192px;
}
@media screen and (max-width: 993px) {
  .about_document .logo {
    position: static;
    width: 85px;
    height: 78px;
    margin-top: 48px;
  }
}
.about .tabs {
  margin-top: 48px;
}
@media screen and (max-width: 1170px) {
  .about .tabs {
    margin-top: 24px;
  }
}
.about .tabs .tab-buttons {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
@media screen and (max-width: 1170px) {
  .about .tabs .tab-buttons {
    margin-bottom: 16px;
    overflow-x: scroll;
  }
  .about .tabs .tab-buttons::-webkit-scrollbar {
    display: none;
  }
}
.about .tabs .tab-buttons .tab-btn {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #535353;
  width: -moz-max-content;
  width: max-content;
  transition: background-color 0.3s;
}
@media screen and (max-width: 993px) {
  .about .tabs .tab-buttons .tab-btn {
    font-size: 24px;
    white-space: nowrap;
  }
}
.about .tabs .tab-buttons .tab-btn.active {
  color: #E30613;
}
.about .tabs .tab-buttons .tab-btn:hover {
  color: #E30613;
}
.about .tabs .tab-content {
  display: none;
}
.about .tabs .tab-content.active {
  display: block;
}

.statistic {
  padding: 48px 0;
}
@media screen and (max-width: 1200px) {
  .statistic {
    padding: 24px 0;
  }
}
.statistic_blocks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
@media screen and (max-width: 1200px) {
  .statistic_blocks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .statistic_blocks {
    grid-template-columns: repeat(1, 1fr);
  }
}
.statistic_blocks span {
  font-weight: 700;
  font-size: 64px;
  line-height: 150%;
  color: #E30613;
}
@media screen and (max-width: 1200px) {
  .statistic_blocks span {
    font-size: 48px;
  }
}
.statistic_blocks p {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #535353;
}
@media screen and (max-width: 1200px) {
  .statistic_blocks p {
    font-size: 28px;
  }
}
@media screen and (max-width: 993px) {
  .statistic_blocks p {
    font-size: 24px;
  }
}

.maps {
  height: 640px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .maps {
    height: 484px;
  }
}
@media screen and (max-width: 993px) {
  .maps {
    height: 540px;
  }
}
.maps iframe {
  position: relative;
  z-index: 2;
}
.maps .container {
  padding: 78px 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .maps .container {
    padding: 0;
    height: 100%;
    margin: 0;
    width: 100%;
  }
}
.maps h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #535353;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 1200px) {
  .maps h3 {
    padding: 24px;
    font-size: 40px;
  }
}
.maps_block {
  height: 100%;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 993px) {
  .maps_block {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: end;
  }
}
.maps .article_card {
  width: 484px;
}
@media screen and (max-width: 1200px) {
  .maps .article_card {
    width: 424px;
    height: 100%;
  }
}
@media screen and (max-width: 993px) {
  .maps .article_card {
    height: 240px;
    width: 100%;
  }
}
.maps .article_card h4 span {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}

.brand {
  padding: 48px 0;
  border-bottom: 1px solid #F5F5F5;
}
@media screen and (max-width: 1200px) {
  .brand {
    padding: 24px 0;
  }
}
.brand_block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand_block img {
  width: 100%;
}

.article {
  margin-bottom: 24px;
}
.article_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #535353;
  margin-bottom: 24px;
}
@media screen and (max-width: 1200px) {
  .article_title {
    font-size: 40px;
  }
}
@media screen and (max-width: 993px) {
  .article_title {
    font-size: 32px;
  }
}
.article_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
@media screen and (max-width: 993px) {
  .article_cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.article_card {
  height: 484px;
  position: relative;
  padding: 24px;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .article_card {
    height: 362px;
  }
}
@media screen and (max-width: 993px) {
  .article_card {
    height: 312px;
  }
}
.article_card::before {
  cursor: pointer;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(83, 83, 83, 0.85);
  z-index: 2;
  transition: 0.2s ease;
}
.article_card img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease;
}
.article_card_date {
  display: flex;
  align-items: center;
  gap: 16px;
}
.article_card_date h6 {
  font-weight: 400;
  font-size: 48px;
  line-height: 150%;
  color: #FFFFFF;
}
.article_card_date span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}
.article_card_in {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article_card_in h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #FFFFFF;
  transition: 0.2s ease;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .article_card_in h4 {
    font-size: 24px;
  }
}
.article_card_in h4 span {
  display: block;
  margin-top: 16px;
  font-size: 24px;
  font-weight: 400;
}
@media screen and (max-width: 993px) {
  .article_card_in h4 span {
    margin-top: 0;
  }
}
.article_card_bottom {
  position: relative;
  overflow: hidden;
}
.article_card_bottom p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin-top: 10px;
  transition: all 0.4s ease;
}
.article_card:hover img {
  transform: scale(1.1);
}
.article_card:hover::before {
  transform: scale(1.1);
  background: rgba(180, 34, 34, 0.85);
}
.article_card:hover p {
  max-height: 100px;
  opacity: 1;
}

.contact {
  background: #F2F2F2;
}
.contact .container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  max-width: 1500px;
  width: 100%;
}
@media screen and (max-width: 993px) {
  .contact .container {
    flex-direction: column;
    gap: 0;
  }
}
.contact_request {
  max-width: 992px;
  padding: 48px 0;
}
@media screen and (max-width: 1500px) {
  .contact_request {
    padding: 48px 24px;
  }
}
@media screen and (max-width: 1200px) {
  .contact_request {
    padding: 24px;
  }
}
.contact_request .request_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #535353;
  margin-bottom: 24px;
  display: block;
}
.contact_request h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #535353;
  margin-bottom: 24px;
}
@media screen and (max-width: 1200px) {
  .contact_request h3 {
    font-size: 40px;
    line-height: 150%;
  }
}
@media screen and (max-width: 993px) {
  .contact_request h3 {
    font-size: 32px;
  }
}
.contact_request p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #535353;
  max-width: 738px;
  margin-bottom: 24px;
}
@media screen and (max-width: 1200px) {
  .contact_request p {
    max-width: 100%;
    font-size: 20px;
  }
}
.contact_request form .input_group {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
@media screen and (max-width: 993px) {
  .contact_request form .input_group {
    flex-direction: column;
  }
}
.contact_request form input {
  width: 280px;
  border: 1px solid #535353;
  height: 46px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #CACACA;
}
@media screen and (max-width: 1200px) {
  .contact_request form input {
    width: 100%;
  }
}
.contact_request form input::-moz-placeholder {
  color: #CACACA;
}
.contact_request form input::placeholder {
  color: #CACACA;
}
.contact_request form .toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
.contact_request form .toggle-wrapper span {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #535353;
}
.contact_request form .toggle-wrapper .toggle {
  position: relative;
  width: 40px;
  height: 20px;
  display: flex;
  flex-shrink: 0;
}
.contact_request form .toggle-wrapper .toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.contact_request form .toggle-wrapper .toggle .slider {
  position: absolute;
  cursor: pointer;
  background-color: #E30613;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}
.contact_request form .toggle-wrapper .toggle .slider::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2509803922);
  transition: 0.4s;
  border-radius: 50%;
}
.contact_request form .toggle-wrapper .toggle input:checked + .slider {
  background-color: #4CAF50;
}
.contact_request form .toggle-wrapper .toggle input:checked + .slider::before {
  transform: translateX(20px);
}
.contact_request form button {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  width: 110px;
  height: 40px;
  padding: 8px 16px;
  background: #CACACA;
  margin-top: 24px;
}
.contact_request .form_btns {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}
.contact_request .form_btns button {
  margin: 0;
  height: 46px;
}
.contact_request .form_btns .btn-red {
  color: #FFFFFF;
}
.contact_blocks {
  width: 484px;
  background: #535353;
  padding: 48px 24px;
}
@media screen and (max-width: 1200px) {
  .contact_blocks {
    padding: 24px;
  }
}
@media screen and (max-width: 993px) {
  .contact_blocks {
    width: 100%;
  }
}
.contact_blocks h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 24px;
}
@media screen and (max-width: 1200px) {
  .contact_blocks h3 {
    font-size: 40px;
    line-height: 150%;
  }
}
@media screen and (max-width: 993px) {
  .contact_blocks h3 {
    font-size: 32px;
    margin-bottom: 12px;
  }
}
.contact_blocks_in {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 993px) {
  .contact_blocks_in {
    gap: 12px;
  }
}
.contact_block {
  display: flex;
  flex-direction: column;
}
.contact_block a {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  transition: 0.2s ease;
  width: -moz-max-content;
  width: max-content;
}
.contact_block a:hover {
  text-decoration: underline;
}
.contact_block span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.system {
  padding: 48px 0 96px 0;
  background: #F2F2F2;
}
@media screen and (max-width: 1200px) {
  .system {
    padding: 24px 0;
  }
}
.system h3 {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #535353;
}
@media screen and (max-width: 1200px) {
  .system h3 {
    margin-bottom: 24px;
    font-size: 40px;
  }
}
@media screen and (max-width: 993px) {
  .system h3 {
    font-size: 32px;
  }
}
.system_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
@media screen and (max-width: 1200px) {
  .system_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .system_cards {
    display: none;
  }
}
.system_card {
  border-radius: 12px;
  padding: 24px;
  background: #FFFFFF;
  min-height: 352px;
}
@media screen and (max-width: 1200px) {
  .system_card {
    min-height: 280px;
  }
}
.system_card img {
  width: 64px;
  height: 64px;
}
.system_card h6 {
  margin: 24px 0 12px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #535353;
}
.system_card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #535353;
}
.system .systemSwiper {
  display: none;
}
@media screen and (max-width: 650px) {
  .system .systemSwiper {
    display: block;
  }
}
.system .systemSwiper .system-pagination {
  margin-bottom: 24px;
  position: static;
  height: 2px;
  background: #FFFFFF;
}
.system .systemSwiper .system-pagination .swiper-pagination-progressbar-fill {
  height: 2px;
  background: #E30613;
}
.system .systemSwiper .swiper-slide {
  height: auto;
}
.system .systemSwiper .swiper-slide .system_card {
  height: 100%;
}

.concentrations {
  padding: 48px 0;
}
@media screen and (max-width: 1200px) {
  .concentrations {
    padding: 24px 0;
  }
}
.concentrations h3 {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #535353;
}
@media screen and (max-width: 1200px) {
  .concentrations h3 {
    margin-bottom: 24px;
    font-size: 40px;
  }
}
@media screen and (max-width: 993px) {
  .concentrations h3 {
    font-size: 32px;
  }
}
.concentrations p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #535353;
  margin-bottom: 48px;
}
@media screen and (max-width: 1200px) {
  .concentrations p {
    font-size: 20px;
    margin-bottom: 24px;
  }
}
.concentrations_model {
  display: flex;
  align-items: start;
  gap: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #F2F2F2;
}
.concentrations_model h6 {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #535353;
}
.concentrations_model p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #535353;
  margin: 0;
}
.concentrations_model_blocks {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}
.concentrations_model_blocks h6 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #535353;
}
.concentrations_model_block {
  width: 88px;
}
.concentrations_model_head {
  width: 128px;
  flex-shrink: 0;
}
.concentrations_table {
  display: flex;
  align-items: start;
  gap: 48px;
  padding: 24px 0;
  border-bottom: 1px solid #F2F2F2;
}
.concentrations_table_head {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 128px;
  flex-shrink: 0;
}
.concentrations_table_head h6 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #535353;
}
.concentrations_table_head span {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #FFFFFF;
  padding: 2px 8px;
  background: #E30613;
  border-radius: 5px;
}
.concentrations_table_head p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #535353;
  margin: 0;
}
.concentrations_table_in {
  display: flex;
  align-items: center;
  gap: 24px;
}
.concentrations_table_in h6 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #535353;
}
.concentrations_table_block {
  width: 88px;
}

.system_structure {
  padding: 48px 0;
}
@media screen and (max-width: 1200px) {
  .system_structure {
    padding: 24px 0;
  }
}
.system_structure h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #535353;
  margin-bottom: 48px;
}
@media screen and (max-width: 1200px) {
  .system_structure h3 {
    margin-bottom: 24px;
    font-size: 40px;
  }
}
@media screen and (max-width: 993px) {
  .system_structure h3 {
    font-size: 32px;
  }
}
.system_structure .tabs {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
@media screen and (max-width: 1200px) {
  .system_structure .tabs {
    gap: 24px;
  }
}
@media screen and (max-width: 993px) {
  .system_structure .tabs {
    flex-direction: column;
  }
}
.system_structure .tabs .tab-buttons {
  width: 410px;
  display: flex;
  align-items: end;
  gap: 48px;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .system_structure .tabs .tab-buttons {
    width: 378px;
    gap: 24px;
  }
}
@media screen and (max-width: 993px) {
  .system_structure .tabs .tab-buttons {
    width: 286px;
  }
}
.system_structure .tabs .tab-buttons .tab-btn {
  text-align: right;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: rgba(109, 110, 113, 0.25);
  width: -moz-max-content;
  width: max-content;
  transition: background-color 0.3s;
  padding-left: 120px;
  position: relative;
}
@media screen and (max-width: 993px) {
  .system_structure .tabs .tab-buttons .tab-btn {
    padding-left: 72px;
  }
}
.system_structure .tabs .tab-buttons .tab-btn::after {
  content: "";
  position: absolute;
  left: 48px;
  top: 0;
  bottom: 0;
  background: #F2F2F2;
  height: 2px;
  width: 48px;
  margin: auto;
  transition: 0.2s ease;
}
@media screen and (max-width: 993px) {
  .system_structure .tabs .tab-buttons .tab-btn::after {
    width: 24px;
    left: 24px;
  }
}
@media screen and (max-width: 1200px) {
  .system_structure .tabs .tab-buttons .tab-btn {
    font-size: 24px;
    white-space: nowrap;
  }
}
.system_structure .tabs .tab-buttons .tab-btn.active {
  color: #E30613;
}
.system_structure .tabs .tab-buttons .tab-btn.active::after {
  background: #E30613;
  width: 96px;
  left: 0;
}
@media screen and (max-width: 993px) {
  .system_structure .tabs .tab-buttons .tab-btn.active::after {
    width: 48px;
  }
}
.system_structure .tabs .tab-buttons .tab-btn:hover {
  color: #E30613;
}
.system_structure .tabs .tab-buttons .tab-btn p {
  max-width: 348px;
  white-space: wrap;
  text-align: left;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
}
.system_structure .tabs .tab-content {
  display: none;
  max-width: 984px;
}
.system_structure .tabs .tab-content.active {
  display: block;
}

.objects {
  padding: 48px 0;
}
@media screen and (max-width: 1200px) {
  .objects {
    padding: 24px 0;
  }
}
.objects h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #535353;
  margin-bottom: 48px;
}
@media screen and (max-width: 1200px) {
  .objects h3 {
    margin-bottom: 24px;
    font-size: 40px;
  }
}
@media screen and (max-width: 993px) {
  .objects h3 {
    font-size: 32px;
  }
}
.objects .objectsProducts .swiper-slide {
  height: auto;
}
.objects .objectsProducts .objects-pagination {
  margin-bottom: 24px;
  position: static;
  height: 2px;
  background: #FFFFFF;
}
.objects .objectsProducts .objects-pagination .swiper-pagination-progressbar-fill {
  height: 2px;
  background: #E30613;
}
.objects_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
  padding: 24px;
  height: 100%;
  border: 1px solid #F2F2F2;
  position: relative;
}
.objects_card img {
  width: 100%;
}
.objects_card span {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #535353;
}
@media screen and (max-width: 1200px) {
  .objects_card span {
    font-size: 24px;
  }
}
.objects_card_text {
  position: absolute;
  left: 0;
  top: auto;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #F2F2F2;
  padding: 24px;
  transition: 0.2s ease;
  transform: translateY(100%);
}
.objects_card_text p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #535353;
}
@media screen and (max-width: 1200px) {
  .objects_card_text p {
    font-size: 20px;
  }
}
.objects_card:hover .objects_card_text {
  transform: translateY(-25px);
}

.services {
  padding: 48px 0;
}
@media screen and (max-width: 1200px) {
  .services {
    padding: 24px 0;
  }
}
.services h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #535353;
  margin-bottom: 12px;
}
@media screen and (max-width: 1200px) {
  .services h3 {
    font-size: 32px;
  }
}
.services p {
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #535353;
  max-width: 992px;
}
@media screen and (max-width: 1200px) {
  .services p {
    font-size: 24px;
  }
}
.services_title {
  margin-bottom: 48px;
}
@media screen and (max-width: 1200px) {
  .services_title {
    margin-bottom: 24px;
  }
}
.services_blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}
@media screen and (max-width: 1200px) {
  .services_blocks {
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .services_blocks {
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);
  }
}
.services_block img {
  width: 120px;
  height: 120px;
}
@media screen and (max-width: 1200px) {
  .services_block img {
    width: 90px;
    height: 90px;
  }
}
.services_block p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #535353;
  max-width: 100%;
  margin-top: 24px;
}
@media screen and (max-width: 1200px) {
  .services_block p {
    font-size: 20px;
  }
}

.information {
  padding: 48px 0;
}
@media screen and (max-width: 1200px) {
  .information {
    padding: 24px 0;
  }
}
.information h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  margin-bottom: 48px;
  color: #535353;
}
@media screen and (max-width: 1200px) {
  .information h3 {
    margin-bottom: 24px;
    font-size: 40px;
  }
}
@media screen and (max-width: 993px) {
  .information h3 {
    font-size: 32px;
  }
}
.information .tabs {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
@media screen and (max-width: 1200px) {
  .information .tabs {
    gap: 24px;
  }
}
@media screen and (max-width: 993px) {
  .information .tabs {
    flex-direction: column;
  }
}
.information .tabs .tab-buttons {
  width: 468px;
  display: flex;
  align-items: end;
  gap: 48px;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .information .tabs .tab-buttons {
    width: 378px;
    gap: 24px;
  }
}
@media screen and (max-width: 993px) {
  .information .tabs .tab-buttons {
    width: 286px;
    gap: 12px;
  }
}
.information .tabs .tab-buttons .tab-btn {
  text-align: right;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: rgba(109, 110, 113, 0.25);
  width: -moz-max-content;
  width: max-content;
  transition: color 0.3s;
  padding-left: 120px;
  position: relative;
}
@media screen and (max-width: 993px) {
  .information .tabs .tab-buttons .tab-btn {
    padding-left: 72px;
  }
}
.information .tabs .tab-buttons .tab-btn::after {
  content: "";
  position: absolute;
  left: 48px;
  top: 0;
  bottom: 0;
  background: #F2F2F2;
  height: 2px;
  width: 48px;
  margin: auto;
  transition: 0.2s ease;
}
@media screen and (max-width: 993px) {
  .information .tabs .tab-buttons .tab-btn::after {
    width: 24px;
    left: 24px;
  }
}
@media screen and (max-width: 1200px) {
  .information .tabs .tab-buttons .tab-btn {
    font-size: 24px;
    white-space: nowrap;
  }
}
.information .tabs .tab-buttons .tab-btn.active {
  color: #E30613;
}
.information .tabs .tab-buttons .tab-btn.active::after {
  background: #E30613;
  width: 96px;
  left: 0;
}
@media screen and (max-width: 993px) {
  .information .tabs .tab-buttons .tab-btn.active::after {
    width: 48px;
  }
}
.information .tabs .tab-buttons .tab-btn:hover {
  color: #535353;
}
.information .tabs .tab-buttons .tab-btn:hover::after {
  width: 96px;
  left: 0;
}
@media screen and (max-width: 993px) {
  .information .tabs .tab-buttons .tab-btn:hover::after {
    width: 48px;
  }
}
.information .tabs .tab-content {
  display: none;
  max-width: 984px;
}
.information .tabs .tab-content p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #535353;
}
@media screen and (max-width: 993px) {
  .information .tabs .tab-content p {
    font-size: 18px;
  }
}
.information .tabs .tab-content.active {
  display: block;
}

.production_home {
  position: relative;
  box-shadow: 0px -8px 8px 0px rgba(0, 0, 0, 0.25) inset;
  overflow: hidden;
}
.production_home::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #535353 0%, #1D1D1B 100%);
  z-index: 2;
  opacity: 0.9;
}
.production_home_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.production_home_in {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: end;
  gap: 24px;
}
@media screen and (max-width: 650px) {
  .production_home_in {
    flex-direction: column;
    align-items: start;
  }
}
.production_home_in h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 150%;
  color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  .production_home_in h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 993px) {
  .production_home_in h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 650px) {
  .production_home_in h1 {
    font-size: 32px;
    margin-bottom: 12px;
  }
}
.production_home_in p {
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  .production_home_in p {
    font-size: 24px;
  }
}
@media screen and (max-width: 650px) {
  .production_home_in p {
    font-size: 20px;
  }
}
.production_home_in .btn-red {
  color: #FFFFFF;
  border-radius: 6px;
  padding: 4px 24px;
  margin-top: 24px;
}
.production_home_in ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 738px;
  gap: 24px;
  margin: 96px 0;
}
@media screen and (max-width: 993px) {
  .production_home_in ul {
    margin: 24px 0;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .production_home_in ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
.production_home_in ul li {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 993px) {
  .production_home_in ul li {
    gap: 12px;
  }
}
.production_home_in ul li img {
  width: 66px;
  height: 66px;
}
@media screen and (max-width: 993px) {
  .production_home_in ul li img {
    width: 48px;
    height: 48px;
  }
}
@media screen and (max-width: 650px) {
  .production_home_in ul li img {
    display: none;
  }
}
.production_home_in ul p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}
.production_home_in ul p span {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #FFFFFF;
}
.production_home_left {
  padding: 48px 0;
  width: 738px;
  flex-shrink: 0;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1200px) {
  .production_home_left {
    width: auto;
    max-width: 738px;
    padding: 24px 0;
  }
}
@media screen and (max-width: 650px) {
  .production_home_left {
    width: 100%;
    padding: 24px 0 0 0;
  }
}
.production_home_right {
  width: 599px;
  transform: translateY(5px);
}
@media screen and (max-width: 1200px) {
  .production_home_right {
    position: absolute;
    right: 24px;
    bottom: 0;
    width: 437px;
  }
}
@media screen and (max-width: 993px) {
  .production_home_right {
    width: 336px;
    right: -10px;
  }
}
@media screen and (max-width: 650px) {
  .production_home_right {
    position: static;
    transform: translateY(10px);
  }
}
@media screen and (max-width: 430px) {
  .production_home_right {
    width: 100%;
  }
}
.production_home .production_video_block {
  width: 400px;
  background: #FFFFFF;
  border-radius: 16px;
  display: flex;
  gap: 24px;
  overflow: hidden;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 993px) {
  .production_home .production_video_block {
    width: 312px;
    height: 132px;
  }
}
@media screen and (max-width: 650px) {
  .production_home .production_video_block {
    height: 108px;
    border-radius: 10px;
  }
}
.production_home .production_video_block_left {
  width: 150px;
  display: flex;
  flex-shrink: 0;
  position: relative;
}
@media screen and (max-width: 993px) {
  .production_home .production_video_block_left {
    width: 120px;
  }
}
.production_home .production_video_block_left button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  transition: 0.2s ease;
}
@media screen and (max-width: 993px) {
  .production_home .production_video_block_left button {
    width: 48px;
    height: 48px;
  }
}
.production_home .production_video_block_left button svg path {
  transition: 0.2s ease;
}
@media screen and (max-width: 993px) {
  .production_home .production_video_block_left button svg {
    width: 12px;
  }
}
.production_home .production_video_block_left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.production_home .production_video_block_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.production_home .production_video_block_right p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #535353;
}
@media screen and (max-width: 993px) {
  .production_home .production_video_block_right p {
    font-size: 16px;
  }
}
.production_home .production_video_block_right a {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #535353;
}
@media screen and (max-width: 993px) {
  .production_home .production_video_block_right a {
    font-size: 16px;
  }
}
.production_home .production_video_block:hover button {
  background: #E30613;
}
.production_home .production_video_block:hover button svg path {
  fill: #FFFFFF;
}
.production_home .production_video_block:hover a {
  color: #E30613;
}

.home_bottom_text {
  padding: 48px 0;
}
@media screen and (max-width: 993px) {
  .home_bottom_text {
    padding: 24px 0;
  }
}
.home_bottom_text p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #535353;
  max-width: 992px;
}
@media screen and (max-width: 1200px) {
  .home_bottom_text p {
    font-size: 20px;
  }
}

.request {
  background: linear-gradient(281.31deg, #FFFFFF 36.67%, #F5F5F5 36.67%);
}
.request .contact_request {
  max-width: 580px;
  padding: 48px 0;
}
@media screen and (max-width: 1200px) {
  .request .contact_request {
    padding: 24px 0;
  }
}
@media screen and (max-width: 993px) {
  .request .contact_request {
    max-width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .request .contact_request h3 {
    font-size: 32px;
  }
}
@media screen and (max-width: 1200px) {
  .request .contact_request .request_title {
    font-size: 24px;
  }
}
@media screen and (max-width: 1200px) {
  .request .contact_request .form_btns {
    margin-top: 24px;
  }
}
@media screen and (max-width: 650px) {
  .request .contact_request .form_btns {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .request .contact_request .form_btns button {
    width: 100%;
    min-width: 100%;
    display: block;
  }
}
@media screen and (max-width: 650px) {
  .request .contact_request .form_btns .btn-red {
    width: 100%;
  }
}
.request .contact_request .btn-red {
  height: 46px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.specifications {
  overflow: hidden;
}
.specifications h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #535353;
  margin-bottom: 24px;
}
@media screen and (max-width: 1200px) {
  .specifications h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 993px) {
  .specifications h3 {
    margin-bottom: 12px;
    font-size: 32px;
  }
}
.specifications ul {
  max-width: 484px;
  margin-bottom: 48px;
}
@media screen and (max-width: 993px) {
  .specifications ul {
    max-width: 100%;
    margin-bottom: 24px;
  }
}
.specifications ul li {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  border-bottom: 1px solid #F2F2F2;
}
@media screen and (max-width: 993px) {
  .specifications ul li {
    padding: 12px 0;
    gap: 12px;
    flex-direction: column;
    align-items: start;
  }
}
.specifications ul li:last-child {
  border: none;
}
.specifications ul li span {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #535353;
}
@media screen and (max-width: 993px) {
  .specifications ul li span {
    font-size: 20px;
  }
}
@media screen and (max-width: 650px) {
  .specifications ul li span {
    font-size: 16px;
  }
}
.specifications a {
  border-radius: 12px;
  border: 1px solid #F2F2F2;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  width: -moz-max-content;
  width: max-content;
  transition: 0.2s ease;
}
@media screen and (max-width: 650px) {
  .specifications a {
    width: 100%;
    justify-content: space-between;
  }
}
.specifications a p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #535353;
  margin-bottom: 12px;
  transition: 0.2s ease;
}
.specifications a span {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #535353;
  opacity: 50%;
}
.specifications a:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}
.specifications a:hover p {
  color: #E30613;
}
.specifications .container {
  padding: 48px 0;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .specifications .container {
    padding: 24px 0;
  }
}
.specifications_img {
  position: absolute;
  top: 0;
  right: -136px;
}
@media screen and (max-width: 1200px) {
  .specifications_img {
    width: 787px;
    height: 772px;
    right: -210px;
    bottom: 0;
    margin: auto;
  }
}
@media screen and (max-width: 993px) {
  .specifications_img {
    width: 998px;
    height: 864px;
    right: -393px;
    display: flex;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 650px) {
  .specifications_img {
    display: none;
  }
}
.specifications_text {
  position: relative;
  z-index: 2;
}

.project_home {
  background-image: url("../images/project_home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  position: relative;
  background-position: center;
}
@media screen and (max-width: 1200px) {
  .project_home {
    height: 295px;
  }
}
@media screen and (max-width: 993px) {
  .project_home {
    height: 360px;
  }
}
.project_home::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 27, 0.8);
}
.project_home .container {
  position: relative;
  z-index: 3;
  padding: 48px 0;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .project_home .container {
    padding: 24px 0;
  }
}
.project_home h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 12px;
}
@media screen and (max-width: 1200px) {
  .project_home h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 993px) {
  .project_home h1 {
    font-size: 32px;
  }
}
.project_home span {
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  .project_home span {
    font-size: 24px;
  }
}
.project_home_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5019607843);
  display: flex;
  align-items: center;
  justify-content: center;
}
.project_home_btn svg {
  transform: translateX(2px);
}
@media screen and (max-width: 993px) {
  .project_home_btn svg {
    width: 12px;
  }
}
@media screen and (max-width: 993px) {
  .project_home_btn {
    width: 48px;
    height: 48px;
    transform: none;
    left: 0;
    top: auto;
    bottom: 24px;
  }
}

.footer {
  background: #323334;
  padding: 48px 0 24px 0;
}
@media screen and (max-width: 680px) {
  .footer {
    padding: 24px 0;
  }
}
.footer_top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
}
@media screen and (max-width: 1200px) {
  .footer_top {
    flex-direction: column;
  }
}
.footer_top-right {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 373px;
  flex-shrink: 0;
}
@media screen and (max-width: 680px) {
  .footer_top-right {
    width: 100%;
    flex-direction: column;
    align-items: start;
  }
}
.footer_contact {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 24px;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}
@media screen and (max-width: 680px) {
  .footer_contact {
    align-items: start;
    border: none;
  }
}
.footer_contact .phone_link {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
}
.footer_contact a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  transition: 0.2s ease;
}
.footer_contact a:hover {
  color: #E30613;
}
.footer_social {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer_social a {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  transition: 0.2s ease;
}
.footer_social a svg path {
  transition: 0.2s ease;
}
.footer_social a:hover {
  background: #E30613;
  border: 1px solid #E30613;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.footer_link {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}
@media screen and (max-width: 993px) {
  .footer_link {
    margin: 12px 0 24px 0;
    gap: 8px 16px;
  }
}
@media screen and (max-width: 680px) {
  .footer_link {
    gap: 8px 24px;
  }
}
.footer_link a {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  transition: 0.2s ease;
}
.footer_link a:hover {
  color: #E30613;
}
.footer_link_two {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
@media screen and (max-width: 680px) {
  .footer_link_two {
    gap: 8px 16px;
  }
}
.footer_link_two a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  transition: 0.2s ease;
}
.footer_link_two a:hover {
  color: #E30613;
}
.footer_bottom {
  margin-top: 24px;
}
.footer_bottom span {
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */